<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/TheSecond" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="4dDoNx5I8J.TheSecond" package="4dDoNx5I8J" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>TheSecond</name>
    <tizen:profile name="mobile"/>
</widget>
